img{
  width: 300px;
  height: fit-content;
  align-self: center;
  display: block;
float: left;
}


h1 {
 
    padding-top: 0%;
    margin-bottom: 10%;
    margin-top: 10%;
    background-color: black;
    display: inline;
    color: whitesmoke;
    font-size: 36px;
    border: rgb(230, 230, 111) dashed;
    border-radius: 300px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0%;
  margin-right: 0%;
}
Skill{
    background-color: rgb(230, 230, 111);
margin-bottom: 0%;  
padding-bottom: 0%;

}
table{
  align-content: center;
}